[loggers]
keys=root

[handlers]
keys=debug_Handler,info_Handler,warning_error_Handler

[formatters]
keys=normalFmt

[logger_root]
level=DEBUG
handlers=debug_Handler,info_Handler,warning_error_Handler

[handler_debug_Handler]
class=logging.handlers.RotatingFileHandler
level=DEBUG
formatter=normalFmt
args=("/var/log/zrz_dashboard_debug.log", "a", 30*1024*1024, 5)

[handler_info_Handler]
class=logging.handlers.RotatingFileHandler
level=INFO
formatter=normalFmt
args=("/var/log/zrz_dashboard_info.log", "a", 30*1024*1024, 5)

[handler_warning_error_Handler]
class=logging.handlers.RotatingFileHandler
level=WARNING
formatter=normalFmt
args=("/var/log/zrz_dashboard_warning.log", "a", 30*1024*1024, 5)

[formatter_normalFmt]
format=%(asctime)s %(levelname)s %(name)s %(message)s %(pathname)s(%(lineno)d)
class=logging.Formatter